.titleContainer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonSubmitFilter, .buttonResetFilter {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.buttonSubmitFilter { color: #189AB4 }
.buttonResetFilter { color: #81B622; }

.buttonSeeProduct {
  background: transparent;
  border: 0;
  color: #189AB4;
  cursor: pointer;
}

.buttonSeeProduct:hover {
  color: #05445E;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.productListContainer {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 24px;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productImageTitleContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.productImage {
  width: 100%;
  max-width: 50px;
  height: 80px;
  border-radius: 8px;
  object-fit: contain;
}

.productQuantity {
  min-width: 70px;
  text-align: right;
}

.buttonAddCart {
  background: #81B622;
  border: 0;
  cursor: pointer;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
}

.comingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 120px;
  font-size: 24px;
}
